@inherits LayoutComponentBase
@inject IJSRuntime JS


<div class="d-flex" style="height:100vh">

    <!-- SIDEBAR -->
    <div class="sidebar d-flex flex-column" style="width:260px; flex-shrink:0;">
        <NavMenu />
    </div>

    <!-- MAIN CONTENT -->
    <div class="flex-fill d-flex flex-column">

        <div class="top-row px-4 d-flex align-items-center justify-content-end gap-3">
            <button class="btn btn-outline-secondary btn-sm"
                    @onclick="ToggleTheme">
                Toggle Theme
            </button>

        </div>


        <article class="content px-4 flex-fill overflow-auto">
            @Body
        </article>

    </div>
</div>


@code {
    async Task ToggleTheme()
    {
        await JS.InvokeVoidAsync("toggleTheme");
    }
}
