@inject NavigationManager Nav
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="add-entry">Daily Journal</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable flex-fill d-flex"
     onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column flex-fill">
        <div class="nav-item px-3 mt-4">
            <NavLink class="nav-link" href="add-entry" Match="NavLinkMatch.All">
                <i class="bi bi-plus-circle-fill me-3"></i>
                <span>New Entry</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="all-entries">
                <i class="bi bi-collection-fill me-3"></i>
                <span>Entries List</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard">
                <i class="bi bi-speedometer2 me-3"></i>
                <span>Dashboard</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calender-view">
                <i class="bi bi-calendar3 me-3"></i>
                <span>Calendar View</span>
            </NavLink>
        </div>

        <div class="nav-item px-3 mt-auto">
            <button class="logout-link w-100 text-start" @onclick="Logout">
                <i class="bi bi-box-arrow-left me-3"></i>
                <span>Logout</span>
            </button>
        </div>
    </nav>
</div>

@code {
    void Logout()
    {
        Nav.NavigateTo("/", true);
    }
}
