.page-header {
    padding: 2rem 0;
}

    .page-header h1 {
        font-size: 1.7rem;
        font-weight: 600;
        color: var(--bs-body-color);
    }

    .page-header p {
        color: var(--bs-secondary-color);
        font-size: .95rem;
    }


.form-label {
    font-size: .8rem;
    color: var(--bs-secondary-color);
}

.form-control,
.form-select {
    border-radius: .9rem;
    padding: .58rem 1rem;
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    border-color: var(--bs-border-color);
}

    .form-control::placeholder {
        color: var(--bs-secondary-color);
    }

textarea.form-control {
    min-height: 160px;
}


.section-title {
    font-weight: 600;
    color: var(--bs-body-color);
    margin-bottom: .5rem;
}

.section-subtitle {
    color: var(--bs-secondary-color);
    font-size: .9rem;
}


.mood-btn {
    border-radius: 999px;
    border: 1px solid var(--bs-border-color);
    padding: .4rem 1.1rem;
    font-size: .85rem;
    background-color: transparent;
    color: var(--bs-body-color);
}


/* Button */
.create-btn {
    background: linear-gradient( 135deg, #4b1d63, #b04478 );
    color: #fff;
    padding: .75rem 2.3rem;
    border-radius: 999px;
    border: none;
    font-weight: 600;
}


.ql-container,
.ql-toolbar {
    background: var(--bs-body-bg) !important;
    border-color: var(--bs-border-color) !important;
}

.ql-editor {
    background: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
}
