﻿.db-head {
    padding: 2rem 0;
}

.db-head h1 {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--bs-body-color);
}

.db-head p {
    color: var(--bs-secondary-color);
    font-size: .95rem;
}


/* KPI cards */
.kpi-card {
    padding: 16px;
    text-align: center;
    border-radius: 14px;
    /* Bootstrap theme aware */
    background: var(--bs-body-bg);
    color: var(--bs-body-color);
}

.kpi-title {
    font-size: 0.85rem;
    color: var(--bs-secondary-color);
    margin-bottom: 8px;
}

.kpi-value {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--bs-body-color);
}

/* Chart cards */
.chart-card {
    height: 420px;
    display: flex;
    flex-direction: column;
    background: var(--bs-body-bg);
    border-radius: 14px;
}

.chart-title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 6px;
    font-size: 1.1rem;
    color: var(--bs-body-color);
}

.chart-body {
    flex: 1;
    position: relative;
    min-height: 300px;
}

    /* Make charts responsive */
    .chart-body canvas {
        width: 100% !important;
        height: 100% !important;
    }
