.page-header {
    padding: 2rem 0;
}

    .page-header h1 {
        font-size: 1.7rem;
        font-weight: 600;
        color: var(--bs-body-color);
    }

    .page-header p {
        color: var(--bs-secondary-color);
        font-size: .95rem;
    }
