@page "/login"
@layout EmptyLayout
@using JournalApp.Models
@inject AppDbContext Db
@inject NavigationManager Nav
@using Microsoft.EntityFrameworkCore
@using JournalApp.Services


@if (!string.IsNullOrEmpty(error))
{
    <p class="text-danger">@error</p>
}


<EditForm Model="login" OnValidSubmit="DoLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="login-bg">
        <div class="login-card">

            <div class="avatar">
                <div class="avatar-icon">👤</div>
            </div>

            <div class="field">
                <input class="login-input"
                       type="email"
                       placeholder="Email"
                       @bind="login.Email" />
            </div>

            <div class="field">
                <input class="login-input"
                       type="password"
                       placeholder="Password"
                       @bind="login.Password" />
            </div>

            <button class="login-btn" type="submit">LOGIN</button>

            <p class="mt-3">
                No account?
                <a href="/register">Create one</a>
            </p>

        </div>
    </div>

</EditForm>


@code {
    AppUser login = new();
    string error = "";

    async Task DoLogin()
    {
        var user = await Db.Users
            .FirstOrDefaultAsync(u => u.Email == login.Email && u.Password == login.Password);

        if (user == null)
        {
            error = "Invalid email or password.";
            return;
        }

        Session.CurrentUser = user;
        Nav.NavigateTo("/");
    }
}
