@inject NavigationManager Nav

<button class="btn btn-danger" @onclick="DoLogout">
    Logout
</button>

@code {
    void DoLogout()
    {
        // session chaina, direct login page ma pathaune
        Nav.NavigateTo("/login", true);
    }
}
